@use "variables" as*;
@use "mixins" as *;


.wrapper-about{
    
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
    gap: 2rem;


    .history{
        //display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: lightcyan;
        
        @include devices(desktop){
            height: 30%;
        }


        .history-cont{
            margin: 1rem;
            align-items: center;
            justify-content: space-around;

            p{
                text-align: center;
                font-family: $font-body;
                font-size: $fs-100;
            }
        }
    }

    .staff{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: lightpink;
        
    .employee-box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;
        padding: 0.5rem;

        @include devices(desktop){
            flex-direction: row;
        }


        

        p{
            margin: 1rem;
        }

        img{
            border-radius: 50%;
            border-style: none;
            max-width: 15rem;
        }
    

    .role-info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .role-title{
            font-size: $fs-200;
            font-family: $font-heading;
        }
        
        .role-name{
            font-size: $fs-100;
            font-family: $font-heading;
        }

        p {
            text-align: center;
            font-size: 0.9rem;
            margin: 1rem;
        }
    }
    }
    }

}