@use "variables" as*;
@use "mixins" as *;


.wrapper-about{
    align-items: center;
    flex-direction: column;
    padding-block: 4rem;
    padding-inline: 2rem;
    gap: 3rem;

    .slogan{
        font-size: clamp(1.25rem, 5vw, $fs-300);
    }

    .heading{
        color: $clr-primary-400;
    }

    .history{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        @include devices(desktop){
            height: 30%;
        }

        .history-cont{
            margin: 1rem;
            flex-direction: column;
            gap: 1rem;
    
            p{
                max-width: 70ch;
            }
        }
    }

    .staff{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        
    .employee-box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 2rem;

        @include devices(desktop){
            flex-direction: row;
        }

        img{
            border-radius: 50%;
            border-style: none;
            max-width: 10rem;
            border: 1px solid $clr-primary-300;
        }
    
    .role-info{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include devices(desktop){
            align-items: start;
        }

        .role-title{
            font-size: $fs-200;
            font-family: $font-heading;
        }
        
        .role-name{
            font-size: $fs-100;
            font-family: $font-heading;
        }

        .role-about {
            max-width: 60ch;
            padding-top: 1rem;
        }
    }
    }
    }

}