@use "variables" as*;
@use "mixins" as *;


.wrapper-about{
    align-items: center;
    flex-direction: column;
    padding-block: 4rem;
    gap: 2rem;

    .slogan{
        font-size: clamp($fs-200, 8vw, $fs-400);

    }
    .history{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        @include devices(desktop){
            height: 30%;
        }

        .history-cont{
            margin: 1rem;
    
            p{
                text-align: center;
                font-family: $font-body;
                font-size: $fs-100;
                max-width: 60ch;
            }
        }
    }

    .staff{
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        
    .employee-box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        @include devices(desktop){
            flex-direction: row;
        }

        img{
            border-radius: 50%;
            border-style: none;
            max-width: 10rem;
        }
    
    .role-info{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include devices(desktop){
            align-items: start;
        }

        .role-title{
            font-size: $fs-200;
            font-family: $font-heading;
        }
        
        .role-name{
            font-size: $fs-100;
            font-family: $font-heading;
        }

        .role-about {

            max-width: 45ch;
            padding-top: 1rem;
        }
    }
    }
    }

}