@use "variables" as *;

// reset
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}



// universal styling

body{
    font-family: $font-body;
    line-height: 1.5;
}

h1,
h2,
h3{
    font-family: $font-heading;
    line-height: 1.1;
}

p{
    font-size: $fs-100;
}

// utility classes
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}


ul[class]{
    list-style:none;
}

.current{
    text-decoration: underline;
}


.btn{
    display: inline-block;
    border-radius: 0.125rem;
    border: 1px solid;
    text-decoration: none;
    padding: .5em 1em;
    color: $clr-neutral-900;
}