@use "variables" as *;
@use "mixins" as *;
.wraps{
    flex-direction: column;
       @include devices(desktop){
        flex-direction: row;  
    }
.contact-cont{
    width: 100%;
    min-height: 85vh;
    @include center;
    @include devices(desktop){
        
        min-height: 95vh;
    }
    .contact-box{
        width: 90%;
        height: 90%;
        border-radius: 1rem;
        @include border;
        @include spaceAround;
        flex-direction: column;
        background: $clr-primary-100;
        background: linear-gradient($clr-neutral-100, $clr-primary-100);
        @include thirdD-effect;
        font-family: $font-body;

        .rub{
            width: 100%;
            
            @include center;
            
            h1,h2{
                font-size: $fs-300;
                text-decoration: underline;
                font-family: $font-heading; 
                margin-top: 1rem;
                margin-bottom: 1rem;
                
            }
        }
        ul{
            
            margin-bottom: 1rem;
            margin-top: 1rem;
            li{
                margin-bottom: 1.5rem;
                margin-top: 1rem;
                text-decoration: underline;
                
            }
        }
        .img-cont{
            width: 80%;
            margin-bottom: 1.2rem;
            
            img{
                border-radius: 1rem;
                object-fit: fill;
                @include border;
                
                &:active{
                    transition: ease 2s;
                    scale: 0.6;
                    position: absolute;
                    top: 0;
                    right: 0;
                    @include thirdD-effect;
                }
            }
        }
        form{
            width: 85%;
            height: 80%;
            @include spaceAround;
            flex-direction: column;
            font-family: $font-body;

            
            

            input{
                margin-bottom: 1.5rem;
                @include border;
            }
            #Förnamn, #Efternamn, #E-postadress{
                @include thirdD-effect;

            }
            select{
                margin-bottom: 1.5rem;
                @include border;
                @include thirdD-effect;
                
            }
            
            #meddelande{
                width: 90%;
                @include border;
                @include thirdD-effect
                
            }
            #skicka{
                height: 2.5rem;
                width: 51%;
                background: $clr-neutral-900;
                color: $clr-neutral-100;
                font-family: $font-heading;
                border-radius: 4px;
                @include border;
                margin-bottom: 1rem;
                
                transition: opacity 0.5s, opacity 0.5s, box-shadow 0.5s;
                &:hover{
                    cursor: pointer;
                    opacity: 0.8;
                    @include thirdD-effect;
                }
                
            }
        }
    }
  }
}