@use "variables" as *;
@use "mixins" as *;
.wraps{
    flex-direction: column;
       @include devices(desktop){
        flex-direction: row;  
    }
.contact-cont{
    width: 100%;
    height: 90vh;
    @include center;
    @include devices(desktop){
        height: 80vh;
    }
    .contact-box{
        width: 90%;
        height: 90%;
        border-radius: 1rem;
        @include border;
        @include spaceAround;
        flex-direction: column;
        background: $clr-primary-100;
        @include thirdD-effect;
        font-family: $font-body;

        .rub{
            width: 100%;
            height: 20%;
            @include center;
            
            h1,h2{
                font-size: $fs-300;
                text-decoration: underline;
                font-family: $font-heading; 
            }
        }
        ul{
            height: 40%;
            li{
                margin-bottom: 1.5rem;
            }
        }
        .img-cont{
            width: 80%;
            margin-bottom: 1.2rem;
            
            img{
                border-radius: 1rem;
                object-fit: fill;
                @include border;
                
                &:hover{
                    transition: ease 2s;
                    scale: 0.7;
                    position: absolute;
                    top: 0;
                    right: 0;
                    @include thirdD-effect;
                }
            }
        }
        form{
            width: 85%;
            height: 80%;
            @include spaceAround;
            flex-direction: column;
            font-family: $font-body;
            #meddelande{
                width: 90%;
            }
            #skicka{
                height: 2.5rem;
                width: 51%;
                background: $clr-neutral-900;
                color: $clr-neutral-100;
                font-family: $font-heading;
                border-radius: 4px;
                @include border;
                margin-bottom: 1rem;
                
                transition: opacity 0.5s, opacity 0.5s, box-shadow 0.5s;
                &:hover{
                    cursor: pointer;
                    opacity: 0.8;
                    @include thirdD-effect;
                }
                
            }
        }
    }
  }
}