@use "variables" as *;
@use "mixins" as *;
.wraps{
    display: flex;
    flex-direction: column;
    @include devices(desktop){
        flex-direction: row;
        
    }

.contact-cont{
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    @include devices(desktop){
        height: 80vh;
        
    }
    
    .contact-box{
        width: 90%;
        height: 90%;
        border-radius: 1rem;
        border: solid black 2px;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        background: $clr-primary-100;
        transition: opacity 0.5s, opacity 0.5s, box-shadow 0.5s;
        box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
        
        .rub{
            display: flex;
            width: 100%;
            height: 20%;
            justify-content: center;
            align-items: center;

            h1,h2{
                font-size: $fs-300;
                text-decoration: underline;
            }
            
        }
        ul{
            height: 40%;
            font-family: $font-body;
            
           li{
            margin-bottom: 1.5rem;
           }
        }
        .img-cont{
            width: 80%;
            margin-bottom: 1.2rem;
            
            img{
                border-radius: 1rem;
                object-fit: fill;
                border: solid 2px black;
            }
        }
        form{
            width: 85%;
            height: 80%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            font-family: $font-body;
            #meddelande{
                width: 90%;
            }
            
            #skicka{
                height: 2.5rem;
                width: 51%;
                background: black;
                color: white;
                font-family: $font-heading;
                border-radius: 4px;
                border-style: double;
                margin-bottom: 1rem;
                
                transition: opacity 0.5s, opacity 0.5s, box-shadow 0.5s;
                &:hover{
                    cursor: pointer;
                    opacity: 0.8;
                    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
                   
                   
                }
                
            }
        }
        
    
    }

}
}