@use "variables" as *;
@use "mixins" as *;

footer{
    flex-direction: column;
    align-items: center;

    gap: 2rem;
    background-color: $clr-primary-100;


    .wrapper{
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;

        @include devices(desktop){
            flex-direction: row;
            margin-top: 1.2rem;
            
        }
    }
    
    .logo{

        max-width: 7rem;

        @include devices(desktop){
       
            margin-left: 6rem;
        }
    }


    .footer-nav{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
        

        .company-name{
            font-size: $fs-200;
            font-weight: 700;
            background: linear-gradient(
                to right,
                #55aef6,
                #6453fc,
                #8053fc,
                #ad53fc,
                #d873f9,
                #f9739d,
                #f973de,
                
                
              );    
              background-clip: text;
              -webkit-text-fill-color: transparent;
              
                &:hover{
                    
                    background: linear-gradient(
                        to right,
                        #f973de,
                        #f9739d,
                        #ad53fc,
                        #d873f9,
                        #8053fc,
                        #6453fc,
                        #55aef6,
                        
                        
                        
                        );    
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        
                        
              }
              @include devices(desktop){
                font-size: $fs-400;
                
            }
              
        }

        ul{
            gap: 1rem;
            flex-direction: column;

          

            a{
                text-decoration: none;
                color: $clr-neutral-900;
                font-size: $fs-200;
                padding: 0.5rem;

                @include devices(desktop){
                    font-size: $fs-100;
                }

                &:hover,
                &:focus-visible{
                    color: $clr-primary-400;
                }
            }


            @include devices(desktop){
                flex-direction: row;
                gap: 0.75rem;
            }

        }

        
    }


    .copyright{
        font-size: 0.75rem;
        padding: 0.5rem;
    }

    
}