@use "variables" as *;
@use "mixins" as *;

.main-banner{
    margin-top: 3rem;
    height: 37rem;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



.main-wrapper{
    flex-direction: column;
    gap: 2rem;


    .main-intro{

        padding: 2rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        h1{
            margin-block: 2rem;
            font-size: clamp($fs-100, 6vw, $fs-500);
            color: $clr-primary-500;
        }
    
       .wrapper{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        


            @include devices(desktop){
                flex-direction: row;
                align-items: start;
            }

            

            .slogan{
                

                p{
                    font-size: $fs-300;
                    white-space: nowrap;
                    font-style: italic;

                    @include devices(desktop){
                        font-size: $fs-200;
                    }

                    &::before{
                        content: open-quote;
                        font-size: 3rem;
                        color: $clr-primary-300;
                    }
    
                    &::after{
                        content: close-quote;
                        font-size: 3rem;
                        color: $clr-primary-300;
                    }
                }
                
            }
    
            article{
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                padding: 0.5rem;


                p{
                    max-width: 50ch;
                }
            }
    
       }
    }

    .main-product-info{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;
        padding: 2rem;
        background-color: $clr-primary-150;

        @include devices(desktop){
            flex-direction: row;
        }


        .cta{
            font-size: $fs-200;
            background-color: $clr-primary-400;
            border: none;
            color: $clr-neutral-100;

            &:hover{
                background-color: $clr-primary-500;
            }
        }

        img{
            max-width: 20rem;
            border-radius: 0.25rem;

            @include devices(desktop){
                max-width: 17rem;
            }
        }
    }


}


