@use "variables" as *;

.main-banner{
    margin-top: 3rem;

    img{
        width: 100%;
        object-fit: cover;
    }
}


.main-wrapper{
    margin: 4rem 0;

    flex-direction: column-reverse;
    gap: 2rem;
    padding: 0 2rem;



    .main-intro{

        flex-direction: column;
        align-items: center;
        gap: 1rem;
    
       .wrapper{
        flex-direction: column;
        align-items: center;
        gap: 1rem;

            .slogan{
                font-size: $fs-300;
            }
    
            article{
                flex-direction: column;
                align-items: center;
                gap: 1rem;


                p{
                    max-width: 50ch;
                }
            }
    
       }
    }

    .main-product-info{
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;

        img{
            max-width: 26rem;
        }
    }


}


