@use "variables" as *;
@use "mixins" as *;

.references-wrapper{
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 3rem 1rem;

    h1{
        font-size: clamp($fs-200, 6vw, $fs-300);
    }

    .reference-grid{
        display: grid;
        place-items: center;
        gap: 3rem;

        @include devices(desktop){
            grid-template-columns: 1fr 1fr;
        }

        .reference{
            flex-direction: column;
            gap: 1rem;
            align-items: center;

            @include devices(desktop){
                flex-direction: row;
                align-items: start;
            }

            h2{
                font-size: $fs-200;
            }

            img{
                aspect-ratio: 1;
                max-width: 7rem;
                border-radius: 50%;
                border: 1px solid;

                @include devices(desktop){
                    max-width: 5rem;
                }

                
            }

            .wrapper{
                flex-direction: column;
                gap: 1rem;
                max-width: 35ch;
                
                @include devices(desktop){
                    max-width: 30ch;
                }
            }


        }
    }
}