@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');


// colors
$clr-primary-100: hsl(313, 82%, 96%);
$clr-primary-150: hsla(272, 43%, 85%, 1);
$clr-primary-200: hsla(272, 43%, 70%, 1);
$clr-primary-300: hsla(272, 43%, 55%, 1);
$clr-primary-400: hsla(272, 43%, 45%, 1);

// $heading-clr: hsl(145, 52%, 33%);


$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-900: hsl(0, 0%, 0%);


// fonts
$font-heading: Nunito, sans-serif;
$font-body:"PT Sans",sans-serif;

// font sizes
$fs-100: 1.125rem;
$fs-200: 1.5rem;
$fs-300: 1.75rem;
$fs-400: 2.25rem;
$fs-500: 3.5rem;
