@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  line-height: 1.6;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: Nunito, sans-serif;
  line-height: 1.1;
}

p {
  font-size: 1.125rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

ul[class] {
  list-style: none;
}

.current {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-color: hsl(272, 43%, 45%);
}

.btn {
  display: inline-block;
  border-radius: 0.2rem;
  border: 1px solid;
  text-decoration: none;
  padding: 0.5em 1em;
  color: hsl(0, 0%, 0%);
  cursor: pointer;
  transition: transform 250ms ease, background-color 250ms ease;
}
.btn:hover, .btn:focus-visible {
  transform: scale(1.025);
}
.btn:focus-visible {
  outline: 2px solid hsl(272, 43%, 70%);
  outline-offset: 0.25rem;
}

header {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding-top: 1.5rem;
}
@media (min-width: 42rem) {
  header {
    flex-direction: row;
  }
}
header a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}
header a:hover, header a:focus-visible {
  color: hsl(272, 43%, 55%);
}
header .company-name {
  font-size: clamp(1.5rem, 5vw, 3.5rem);
  font-weight: 700;
  background: linear-gradient(to right, #55aef6, #6453fc, #8053fc, #ad53fc, #d873f9, #f9739d, #f973de);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .company-name:hover {
  background: linear-gradient(to right, #f973de, #f9739d, #ad53fc, #d873f9, #8053fc, #6453fc, #55aef6);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
header ul {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}
@media (min-width: 42rem) {
  header ul {
    flex-direction: row;
    font-size: 1.125rem;
  }
}
header .logo {
  margin-top: 1rem;
}
header .navigation {
  background: hsl(313, 82%, 96%);
  width: 60%;
  border-radius: 0.5rem;
  padding: 1rem;
}
@media (min-width: 42rem) {
  header .navigation {
    background: none;
    width: auto;
    padding: 0;
  }
}

.main-banner {
  margin-top: 3rem;
  height: 37rem;
}
.main-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-wrapper {
  flex-direction: column;
  gap: 2rem;
}
.main-wrapper .main-intro {
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.main-wrapper .main-intro h1 {
  margin-block: 2rem;
  font-size: clamp(1.75rem, 5vw, 3.5rem);
  color: hsl(272, 43%, 30%);
}
.main-wrapper .main-intro .wrapper {
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
@media (min-width: 42rem) {
  .main-wrapper .main-intro .wrapper {
    flex-direction: row;
    align-items: start;
  }
}
.main-wrapper .main-intro .wrapper .slogan p {
  font-size: 1.75rem;
  white-space: nowrap;
  font-style: italic;
}
@media (min-width: 42rem) {
  .main-wrapper .main-intro .wrapper .slogan p {
    font-size: 1.5rem;
  }
}
.main-wrapper .main-intro .wrapper .slogan p::before {
  content: open-quote;
  font-size: 5rem;
  color: hsl(272, 43%, 55%);
}
.main-wrapper .main-intro .wrapper .slogan p::after {
  content: close-quote;
  font-size: 5rem;
  color: hsl(272, 43%, 55%);
}
.main-wrapper .main-intro .wrapper article {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.main-wrapper .main-intro .wrapper article p {
  max-width: 50ch;
}
.main-wrapper .main-product-info {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem;
  background-color: hsl(272, 43%, 85%);
}
@media (min-width: 42rem) {
  .main-wrapper .main-product-info {
    flex-direction: row;
  }
}
.main-wrapper .main-product-info .cta {
  font-size: 1.5rem;
  background-color: hsl(272, 43%, 45%);
  border: none;
  color: hsl(0, 0%, 100%);
}
.main-wrapper .main-product-info .cta:hover {
  background-color: hsl(272, 43%, 30%);
}
.main-wrapper .main-product-info img {
  max-width: 20rem;
  border-radius: 0.25rem;
}
@media (min-width: 42rem) {
  .main-wrapper .main-product-info img {
    max-width: 17rem;
  }
}

footer {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: hsl(313, 82%, 96%);
}
footer .wrapper {
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 42rem) {
  footer .wrapper {
    flex-direction: row;
    margin-top: 1.2rem;
  }
}
footer .logo {
  max-width: 7rem;
}
@media (min-width: 42rem) {
  footer .logo {
    margin-left: 6rem;
  }
}
footer .footer-nav {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
footer .footer-nav .company-name {
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(to right, #55aef6, #6453fc, #8053fc, #ad53fc, #d873f9, #f9739d, #f973de);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .footer-nav .company-name:hover {
  background: linear-gradient(to right, #f973de, #f9739d, #ad53fc, #d873f9, #8053fc, #6453fc, #55aef6);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 42rem) {
  footer .footer-nav .company-name {
    font-size: 2.25rem;
  }
}
footer .footer-nav ul {
  gap: 1rem;
  flex-direction: column;
}
footer .footer-nav ul a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  font-size: 1.5rem;
  padding: 0.5rem;
}
@media (min-width: 42rem) {
  footer .footer-nav ul a {
    font-size: 1.125rem;
  }
}
footer .footer-nav ul a:hover, footer .footer-nav ul a:focus-visible {
  color: hsl(272, 43%, 45%);
}
@media (min-width: 42rem) {
  footer .footer-nav ul {
    flex-direction: row;
    gap: 0.75rem;
  }
}
footer .copyright {
  font-size: 0.75rem;
}

.wrapper-about {
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
  gap: 2rem;
}
.wrapper-about .history {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightcyan;
}
@media (min-width: 42rem) {
  .wrapper-about .history {
    height: 30%;
  }
}
.wrapper-about .history .history-cont {
  margin: 1rem;
  align-items: center;
  justify-content: space-around;
}
.wrapper-about .history .history-cont p {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
}
.wrapper-about .staff {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightpink;
}
.wrapper-about .staff .employee-box {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
}
@media (min-width: 42rem) {
  .wrapper-about .staff .employee-box {
    flex-direction: row;
  }
}
.wrapper-about .staff .employee-box p {
  margin: 1rem;
}
.wrapper-about .staff .employee-box img {
  border-radius: 50%;
  border-style: none;
  max-width: 15rem;
}
.wrapper-about .staff .employee-box .role-info {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper-about .staff .employee-box .role-info .role-title {
  font-size: 1.5rem;
  font-family: Nunito, sans-serif;
}
.wrapper-about .staff .employee-box .role-info .role-name {
  font-size: 1.125rem;
  font-family: Nunito, sans-serif;
}
.wrapper-about .staff .employee-box .role-info p {
  text-align: center;
  font-size: 0.9rem;
  margin: 1rem;
}

.wraps {
  flex-direction: column;
}
@media (min-width: 42rem) {
  .wraps {
    flex-direction: row;
  }
}
.wraps .contact-cont {
  width: 100%;
  min-height: 85vh;
  justify-content: center;
  align-items: center;
}
@media (min-width: 42rem) {
  .wraps .contact-cont {
    min-height: 95vh;
  }
}
.wraps .contact-cont .contact-box {
  width: 90%;
  height: 90%;
  border-radius: 1rem;
  border: solid #000 2px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: hsl(313, 82%, 96%);
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
  font-family: "PT Sans", sans-serif;
}
.wraps .contact-cont .contact-box .rub {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.wraps .contact-cont .contact-box .rub h1, .wraps .contact-cont .contact-box .rub h2 {
  font-size: 1.75rem;
  text-decoration: underline;
  font-family: Nunito, sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.wraps .contact-cont .contact-box ul {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.wraps .contact-cont .contact-box ul li {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  text-decoration: underline;
}
.wraps .contact-cont .contact-box .img-cont {
  width: 80%;
  margin-bottom: 1.2rem;
}
.wraps .contact-cont .contact-box .img-cont img {
  border-radius: 1rem;
  -o-object-fit: fill;
     object-fit: fill;
  border: solid #000 2px;
}
.wraps .contact-cont .contact-box .img-cont img:hover {
  transition: ease 2s;
  scale: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
}
.wraps .contact-cont .contact-box form {
  width: 85%;
  height: 80%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
}
.wraps .contact-cont .contact-box form input {
  margin-bottom: 1.5rem;
  border: solid #000 2px;
}
.wraps .contact-cont .contact-box form select {
  margin-bottom: 1.5rem;
  border: solid #000 2px;
}
.wraps .contact-cont .contact-box form #meddelande {
  width: 90%;
  border: solid #000 2px;
}
.wraps .contact-cont .contact-box form #skicka {
  height: 2.5rem;
  width: 51%;
  background: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-family: Nunito, sans-serif;
  border-radius: 4px;
  border: solid #000 2px;
  margin-bottom: 1rem;
  transition: opacity 0.5s, opacity 0.5s, box-shadow 0.5s;
}
.wraps .contact-cont .contact-box form #skicka:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
}

.product-page-wrapper {
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-block: 5rem;
}
.product-page-wrapper h1 {
  color: hsl(272, 43%, 30%);
  font-size: clamp(1.5rem, 8vw, 2.25rem);
}
.product-page-wrapper .product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
@media (min-width: 42rem) {
  .product-page-wrapper .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}
.product-page-wrapper .product-grid .product-card {
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.product-page-wrapper .product-grid .product-card img {
  max-width: 15rem;
}
.product-page-wrapper .product-grid .product-card .product-info {
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}
.product-page-wrapper .product-grid .product-card .product-info .product-name {
  font-size: 1.5rem;
}
.product-page-wrapper .product-grid .product-card .product-info .buy-product {
  font-size: 1.125rem;
  width: 8rem;
  background-color: hsl(272, 43%, 55%);
  color: hsl(0, 0%, 100%);
}
.product-page-wrapper .product-grid .product-card .product-info .buy-product:hover, .product-page-wrapper .product-grid .product-card .product-info .buy-product:focus-visible {
  background-color: hsl(272, 43%, 45%);
}

.references-wrapper {
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 3rem 1rem;
}
.references-wrapper h1 {
  font-size: clamp(1.5rem, 8vw, 2.25rem);
  color: hsl(272, 43%, 30%);
}
.references-wrapper .reference-grid {
  display: grid;
  gap: 3rem;
}
@media (min-width: 42rem) {
  .references-wrapper .reference-grid {
    grid-template-columns: 1fr 1fr;
  }
}
.references-wrapper .reference-grid .reference {
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
@media (min-width: 42rem) {
  .references-wrapper .reference-grid .reference {
    flex-direction: row;
    align-items: start;
  }
}
.references-wrapper .reference-grid .reference h2 {
  font-size: 1.5rem;
}
.references-wrapper .reference-grid .reference img {
  aspect-ratio: 1;
  max-width: 7rem;
  border-radius: 50%;
  border: 1px solid hsl(272, 43%, 55%);
  transition: transform 300ms ease;
}
@media (min-width: 42rem) {
  .references-wrapper .reference-grid .reference img {
    max-width: 5rem;
  }
}
.references-wrapper .reference-grid .reference img:hover {
  transform: scale(1.05);
}
.references-wrapper .reference-grid .reference .wrapper {
  flex-direction: column;
  gap: 1rem;
  max-width: 35ch;
}
@media (min-width: 42rem) {
  .references-wrapper .reference-grid .reference .wrapper {
    max-width: 30ch;
  }
}
.references-wrapper .reference-grid .reference .wrapper .stars {
  color: hsl(272, 43%, 45%);
}/*# sourceMappingURL=style.css.map */