@use "partials/variables";
@use "partials/mixins";
@use "partials/base";
@use "partials/header";
@use "partials/main";
@use "partials/footer";
@use "partials/about";
@use "partials/contact";
@use "partials/products";
@use "partials/references";